---
import Layout from '../../layouts/Layout.astro';
import { MEMBERS } from '../../const/members';
import type { GetStaticPaths } from 'astro';
import MemberProfile from '../../components/MemberProfile.astro';
import MemberDetails from '../../components/MemberDetails.astro';
import type { TmemberId } from '../../types/member-derived';

// TODO: add the link to the youtube/spotify/appleMusic profile

const { id } = Astro.params as { id: TmemberId };
const member = MEMBERS.find((member) => member.id === id);
if (!member) return Astro.redirect('/404');

export const getStaticPaths = (() => {
  return MEMBERS.map((member) => ({
    params: { id: member.id },
  }));
}) satisfies GetStaticPaths;
---

<Layout>
  <div class="container mx-auto px-4 py-16 md:py-32">
    <div class="flex w-full flex-col gap-6 lg:flex-row">
      <div class="flex-1">
        <MemberProfile member={member} id={id} />
      </div>
      <div class="flex-1">
        <MemberDetails member={member} />
      </div>
    </div>
  </div>
</Layout>
