@import "tailwindcss";

@theme {
  /* fonts */
  --font-fallback:
    "Adjusted Arial Fallback", system-ui, -apple-system, blinkmacsystemfont,
    "Segoe UI", "Noto Sans", helvetica, arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";

  /* colors */
  --color-magenta: #ff5fa2;
  --color-magenta-lightest: #ffd6e7;
  --color-apricot: #fcc89b;
  --color-apricot-lightest: #fff0d8;
  --color-nayeon: #8ae0ff;
  --color-jeongyeon: #c5d97a;
  --color-momo: #ffc7d1;
  --color-sana: #9c9ecf;
  --color-jihyo: #ffc56e;
  --color-mina: #6fc5c2;
  --color-dahyun: #e8e6d8;
  --color-chaeyoung: #e81933;
  --color-tzuyu: #016cba;

  /* animations */
  --animate-fade-in-up: fade-in-up 0.6s ease-in-out both;
  --animate-fade-out-down: fade-out-down 0.6s ease-in-out both;
  --animate-fade-in-right: fade-in-right 0.6s ease-in-out both;
  --animate-fade-in-left: fade-in-left 0.6s ease-in-out both;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out-down {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .mask-fade-bottom {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }

  .animate-delay-100 {
    animation-delay: 100ms;
  }

  .animate-delay-200 {
    animation-delay: 200ms;
  }

  .animate-delay-300 {
    animation-delay: 300ms;
  }

  .animate-delay-500 {
    animation-delay: 500ms;
  }

  .animate-delay-700 {
    animation-delay: 700ms;
  }

  .animate-delay-1000 {
    animation-delay: 1000ms;
  }

  /* Mobile selection state */
  .mobile-selected-base {
    @apply scale-105 transition-all duration-300;
    /* box-shadow: 0 4px 12px rgba(255, 95, 162, 0.3); */
  }

  .mobile-selected-base img {
    @apply translate-y-5 scale-120;
  }
}

html {
  font-family: "Oswald", var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05em;
  font-weight: 300;
  background: #f9f9f9;
}

/* Hide scrollbar for mobile grid scroll */
.overflow-x-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.overflow-x-auto::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
