---

---

<div class="absolute top-2/5 left-1/2 -translate-x-1/2 -translate-y-1/2">
  <div class="js-center-logo flex flex-col items-center">
    <img
      class="animate-bounce"
      src="/images/logo.webp"
      alt="Twice"
      width={150}
      height={150}
      data-testid="twice-centered-logo"
    />
  </div>
</div>
