---
import LiteYouTube from './LiteYouTube.astro';
---

<section class="container mx-auto px-4 py-16 md:py-32">
  <h1
    class="text-magenta mb-8 text-center text-3xl uppercase md:mb-16 md:text-5xl"
    data-testid="comeback-heading"
  >
    Last Comeback
  </h1>

  <div class="mx-auto max-w-4xl">
    <LiteYouTube
      videoId="eHHQaoEW30Q"
      backgroundImage="/images/comeback-bg.webp"
    />
  </div>
</section>
