---
import LiteYouTube from './LiteYouTube.astro'
---

<section class="container mx-auto py-16 md:py-32 px-4">
  <h1 class="text-3xl md:text-5xl text-center text-magenta uppercase mb-8 md:mb-16">Last Comeback</h1>

  <div class="mx-auto max-w-4xl">
    <LiteYouTube videoId="eHHQaoEW30Q" backgroundImage="images/comeback-bg.webp" />
  </div>
</section>



