---
import { MEMBERS } from '../const/members';
---

<!-- Full Member Image -->
<div class="pointer-events-none absolute inset-0 flex flex-col items-center">
  <div
    class="mask-fade-bottom items center relative bottom-0 mx-auto flex h-[80vh] w-full justify-center"
  >
    {
      MEMBERS.map(({ id }) => (
        <img
          src={`/images/members/full/${id}-full.webp`}
          class="absolute hidden h-full w-auto object-cover lg:object-contain"
          alt={id}
          loading="lazy"
          decoding="async"
          width={200}
          height={300}
          fetchpriority="low"
          data-id={`full-image-${id}`}
          data-testid={`full-image-${id}`}
        />
      ))
    }
  </div>
</div>
