---
import { Image } from 'astro:assets';
import { MEMBERS } from '../const/members';
---

<!-- Full Member Image -->
<div class="pointer-events-none absolute inset-0 flex flex-col items-center">
  <div
    class="mask-fade-bottom items center relative bottom-0 mx-auto flex h-[80vh] w-full justify-center"
  >
    {
      MEMBERS.map(({ id, fullImage }) => (
        <Image
          src={fullImage}
          widths={[400, 600, 800]}
          sizes="(max-width: 768px) 400px, (max-width: 1024px) 600px, 800px"
          class="absolute hidden h-full w-auto object-cover lg:object-contain"
          alt={id}
          loading="lazy"
          fetchpriority="low"
          data-id={`full-image-${id}`}
          data-testid={`full-image-${id}`}
        />
      ))
    }
  </div>
</div>
