---
import { Image } from 'astro:assets';

export interface Props {
  id: string;
  src: string;
  alt?: string;
  classes?: string;
}

const { id, src, alt = 'Twice Member', classes = '' } = Astro.props;
---

<div
  class={`js-member-card w-15 h-23 md:w-15 md:h-25 lg:w-21 lg:h-31 group overflow-hidden rounded-s-xl hover:border-2 hover:cursor-pointer ${classes}`}
  data-id={id}
>
  <Image
    src={src}
    class="h-full w-full transition-all duration-300 group-hover:translate-y-5 group-hover:scale-120"
    width={100}
    height={100}
    alt={alt}
  />
</div>

<script>
  const memberCards = document.querySelectorAll('.js-member-card');

  if (memberCards) {
    memberCards.forEach((card) => {
      card.addEventListener('mouseenter', () => {
        const id = card.getAttribute('data-id');

        if (id) {
          const event = new CustomEvent('member-card-hover', {
            detail: { id },
          });
          document.dispatchEvent(event);
        }
      });
    });
  }
</script>
