---
import MemberCard from './MemberCard.astro';
---

<div>
  <h1>Member Selection</h1>
  <div class="flex flex-wrap justify-center gap-4">
    <MemberCard
      classes="hover:border-nayeon hover:bg-nayeon"
      src="/images/members/cards/nayeon.webp"
      alt="Nayeon"
    />
    <MemberCard
      classes="hover:border-jeongyeon hover:bg-jeongyeon"
      src="/images/members/cards/jeongyeon.webp"
      alt="Jeongyeon"
    />
    <MemberCard
      classes="hover:border-momo hover:bg-momo"
      src="/images/members/cards/momo.webp"
      alt="Momo"
    />
    <MemberCard
      classes="hover:border-sana hover:bg-sana"
      src="/images/members/cards/sana.webp"
      alt="Sana"
    />
    <MemberCard
      classes="hover:border-jihyo hover:bg-jihyo"
      src="/images/members/cards/jihyo.webp"
      alt="Jihyo"
    />
    <MemberCard
      classes="hover:border-mina hover:bg-mina"
      src="/images/members/cards/mina.webp"
      alt="Mina"
    />
    <MemberCard
      classes="hover:border-dahyun hover:bg-dahyun"
      src="/images/members/cards/dahyun.webp"
      alt="Dahyun"
    />
    <MemberCard
      classes="hover:border-chaeyoung hover:bg-chaeyoung"
      src="/images/members/cards/chaeyoung.webp"
      alt="Chaeyoung"
    />
    <MemberCard
      classes="hover:border-tzuyu hover:bg-tzuyu"
      src="/images/members/cards/tzuyu.webp"
      alt="Tzuyu"
    />
  </div>
</div>
