---
import { Image } from 'astro:assets';

export interface Props {
  id: string;
  src: string;
  alt?: string;
  extraClasses?: string;
}

const { id, src, alt = 'Twice Member', extraClasses = '' } = Astro.props;
---

<div
  class={`js-member-card w-12 h-18 xs:w-14 xs:h-20 sm:w-15 sm:h-23 md:w-15 md:h-25 lg:w-21 lg:h-31 group overflow-hidden rounded-s-xl hover:border-2 hover:cursor-pointer hover:border-magenta ${extraClasses}`}
  data-id={id}
>
  <Image
    src={src}
    class="h-full w-full transition-all duration-300 group-hover:translate-y-5 group-hover:scale-120"
    width={100}
    height={100}
    alt={alt}
  />
</div>

<script>
  const memberCards = document.querySelectorAll('.js-member-card');
  let timeoutToChangeMember: ReturnType<typeof setTimeout> | null = null;

  if (memberCards) {
    memberCards.forEach((card) => {
      card.addEventListener('mouseenter', () => {
        if (timeoutToChangeMember) {
          clearTimeout(timeoutToChangeMember);
        }

        const id = card.getAttribute('data-id');

        if (id) {
          const event = new CustomEvent('member-card-hover', {
            detail: { id },
          });
          document.dispatchEvent(event);
        }
      });

      card.addEventListener('mouseleave', () => {
        timeoutToChangeMember = setTimeout(() => {
          const event = new CustomEvent('member-card-exit');
          document.dispatchEvent(event);
        }, 500);
      });
    });
  }
</script>
