---
import { Image } from 'astro:assets'
---

<nav>
  <div class="flex justify-center items-center space-x-10">
    <div class="flex justify-center items-center space-x-10 py-4">
      <a href="/home" class="uppercase text-lg hover:text-magenta">Home</a>
      <a href="/discography" class="uppercase text-lg hover:text-magenta">Discography</a>
    </div>
    <Image src="/images/logo.webp" alt="Twice" width={50} height={50} />
    <div class="flex justify-center items-center space-x-10 py-4">
      <a href="/videos" class="uppercase text-lg hover:text-magenta">Videos</a>
      <a href="/about" class="uppercase text-lg hover:text-magenta">Fandom</a>
    </div>
  </div>
</nav>
