---
import { Image } from 'astro:assets';
import NavLink from './NavLink.astro';
---

<nav class="fixed top-0 z-50 w-full">
  <div class="flex items-center justify-center gap-4 md:gap-6">
    <div class="flex items-center justify-center gap-4 py-4 md:gap-6">
      <NavLink href="/" text="Home" />
      <NavLink 
        href="/albums" 
        text="Albums" 
        badge={{ text: "working", variant: "working" }}
      />
    </div>
    <Image
      class="animate-pulse"
      src="/images/logo.webp"
      alt="Twice"
      width={50}
      height={50}
    />
    <div class="flex items-center justify-center gap-4 py-4 md:gap-6">
      <NavLink 
        href="/videos" 
        text="Videos" 
        badge={{ text: "working", variant: "working" }}
      />
      <NavLink 
        href="/about" 
        text="Fandom" 
        badge={{ text: "working", variant: "working" }}
      />
    </div>
  </div>
</nav>

<style>
  nav {
    animation: nav-blur-scroll 0.5s linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
    border-bottom: 1px solid transparent;
  }

  @keyframes nav-blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      background: transparent;
    }
    100% {
      backdrop-filter: blur(5px);
      background: rgba(255, 214, 231, 0.3);
      border-bottom-color: #ff5fa2;
    }
  }
</style>
