---
import { Image } from 'astro:assets';
---

<nav>
  <div class="flex items-center justify-center space-x-10">
    <div class="flex items-center justify-center space-x-10 py-4">
      <a href="/home" class="hover:text-magenta text-lg uppercase">Home</a>
      <a href="/discography" class="hover:text-magenta text-lg uppercase"
        >Discography</a
      >
    </div>
    <Image src="/images/logo.webp" alt="Twice" width={50} height={50} />
    <div class="flex items-center justify-center space-x-10 py-4">
      <a href="/videos" class="hover:text-magenta text-lg uppercase">Videos</a>
      <a href="/about" class="hover:text-magenta text-lg uppercase">Fandom</a>
    </div>
  </div>
</nav>
