---
import Layout from '../../layouts/Layout.astro'
import DiscographyFilters from '../../components/Preact/DiscographyFilters'
import GoToTop from '../../components/GoToTop.astro'
---

<Layout
  title="TWICE Discography"
  description="TWICE's complete discography, including all albums, singles, and digital releases."
>
  <div class="container mx-auto min-h-screen px-4 pt-24 md:pt-32">
    <DiscographyFilters client:load />
  </div>
  <GoToTop />
</Layout>
