---
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css';
import NavBar from '../components/NavBar.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body class="from-apricot-lightest to-magenta-lightest bg-gradient-to-tr">
    <NavBar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
</style>
